.content {
  position: absolute;
  height: 60px;
  background: white;
  top: 0;
  width: 100%;
}

.parent {
  position: relative;
  padding-top: 60px;
}

.fixed {
  position: fixed;
  transform: translateY(-100%);
  border-bottom: 1px solid #666;
}

.displaySticky {
  transform: translateY(0);
}

.hideSticky {
  visibility: hidden;
}

.isTransitioning {
  transition: all 0.3s ease-in-out;
}
body {
    margin: 0;
}