.navItem {
  padding: 10px;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.navItem:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: red;
  width: 0;
  height: 5px;
  transition: all 0.5s ease-in-out;      
}

.navItem:hover:after {
  width: 100%;
}
