.navItem {
  padding: 10px;
  font-size: 16px;
  font-weight: 100;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.navItem:before {
  content: '';
  position: absolute;
  bottom: 2px;
  background: red;
  width: 0;
  height: 3px;
  opacity: 0;
  transition: all 0.3s ease-in-out; 
  left: calc(50%);
}
.navItem:hover:before {
  width: 50%;
  opacity: 1;
}

.navItem:after {
  content: '';
  position: absolute;
  bottom: 2px;
  background: red;
  width: 0;
  height: 3px;
  opacity: 0;
  transition: all 0.3s ease-in-out; 
  right: calc(50%);  
}
.navItem:hover:after {
  width: 50%;
  opacity: 1;
}
