.navBarItem {
    padding: 0 40px;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in-out;
}

.blue {
    color: #0D96B5;
}

.blue:hover {
    color: #9FD9E6;
}

.white {
    color: #fff;
}

.white:hover {
    color: #9FD9E6;
}