@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import '../variables.css';

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 800px;  
  margin: auto;
}

.navItems {
  display: flex;
  justify-content: left;
}

.socialItems {
  display: flex;
  justify-content: right;
}

.content {
  display: flex;
  justify-content: center;
  width: 1000px;
  background: #fff;
  margin: auto;
}

.background {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}