.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 800px;  
  margin: auto;
}

.navItems {
  display: flex;
  justify-content: left;
}

.socialItems {
  display: flex;
  justify-content: right;
}